h1 {
    padding-bottom: 0;
    margin-bottom: 0;
    font-weight: 500;
}

h3 {
    font-size: 1.75em;
    margin: 0;
}

section {
    margin: 20px 5px;
    padding: 20px 5px;
}

#menu-subtitle {
    font-size: 1em;
    text-align: center;
    color: black;
    padding-top: 5px;
    margin-top: 5px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    background-color: #edf6f9;
}

.selections {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.choices {
    overflow: hidden;
    border-radius: 20px;
    border: 1px solid #006d77;
    margin: 10px;
    /*padding: 0px 20px;*/
    flex: 1;
    background-color: rgba(200, 229, 226, 0.3);
    min-width: 283px;
}

.protein {
    min-width: 364px;
}

.ingredients {
    display: block;
    padding: 0;
    text-align: center;

}

.bar {
    border-top: 1px solid #a5a58d;
    padding: 20px;
    margin: 0 20px;
}

.ingredients li {
    display: block;
    font-size: 1.25em;
}

.position {
    display: inline-block;
    margin: 0;
}

.special {
    text-align: center;
    min-width: 276px;
}

.topping {
    min-width: 364px;
}

section:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    font-size: 2em;
    background-color: rgba(179, 217, 230, 0.6);
}

@media (max-width: 1030px) {
    section {
        margin: 0 5px;
        padding: 0;
    }
}

@media (max-width: 790px) {
    .position {
        margin-bottom: 0;
        margin-top: 0;
    }
}

@media (max-width: 644px) {
    .choices {
        margin: 2px;
    }

}

